@import 'tailwindcss';

@theme{
  /* COLORS */
  --color-bg: #ffffff;
  --color-text: #000022;

  --color-accueil1: #f8d8ff;
  --color-accueil2: #ffe3d6;
  --color-cerclePortrait1: rgba(145, 129, 255, 0.2);
  --color-cerclePortrait2: rgba(255, 227, 149, 0.226);
  --color-cerclePortrait3: rgba(243, 149, 255, 0.384);
  --color-btnBorder:#9181FF;

  --color-competence1: #f5f6fc;
  --color-competence2: #363d3f;
  --color-competence3: #508191;
  --color-competence4: #3c7a8d;
  --color-grayLight: #e9eaec;
  --color-grayLight2: #f1f8fc;
  --color-fondComp: #cfe9f0;
  --color-brdComp: #f2fafc;
  --color-primary: #019da8;
  --color-secondary: #EB5A46;

  /* FONTS */
  --font-heading-home-r: 'CoR', serif;
  --font-heading-home-s: 'CoS', serif;
  --font-inside: 'Baskervville', serif;

  --text-xxs: .6875rem;
  --text-xs: .8125rem;
  --text-sm: .875rem;
  --text-sm2: .9375rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.4375rem;
  --text-3xl: 2rem;

  /* BREAKPOINTS */
  --breakpoint-xs: 412px;
  --breakpoint-sm: 540px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1366px;

  /* ANIMATION */
  --animate-fade-in: fadeIn 1s ease-out forwards;
  @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  @keyframes fadeInUp {
    from { opacity: 0; transform: translateY(16px); }
    to   { opacity: 1; transform: translateY(0); }
  }
}

.dark{
  --color-bg: #000022;
  --color-text: #ffffff;
  --color-competence1: #f5f6fc;
  --color-competence2: #363d3f;
  --color-competence3: #508191;
  --color-competence4: #3c7a8d;
  --color-grayLight: #e9eaec;
  --color-grayLight2: #f1f8fc;
  --color-fondComp: #cfe9f0;
  --color-brdComp: #f2fafc;
  --color-primary: #019da8;
  --color-secondary: #EB5A46;
}

@layer base {
  @font-face {
    font-family: 'CoS';
    src: url('/fonts/CommutersSans-SemiBold.woff2') format('woff2'), url('/fonts/CommutersSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'CoR';
    src: url('/fonts/CommutersSans-Regular.woff2') format('woff2'), url('/fonts/CommutersSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Baskervville';
    src: url('/fonts/Baskervville-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Baskervville';
    src: url('/fonts/Baskervville-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Baskervville';
    src: url('/fonts/Baskervville-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Baskervville';
    src: url('/fonts/Baskervville-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Baskervville';
    src: url('/fonts/Baskervville-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'Baskervville';
    src: url('/fonts/Baskervville-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'Baskervville';
    src: url('/fonts/Baskervville-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'Baskervville';
    src: url('/fonts/Baskervville-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
  html {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    overflow-x: hidden;
  }
  *,
  *::before,
  *::after {
      box-sizing: inherit;
  }
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
  }
  body.page-home {
    background-color: black;
    color: white;
    padding: 40px;
  }
  body.page-inside {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
  h1{
    font-family: var(--font-heading-home-r);
    font-weight: 600;
    margin-bottom: 0;
    font-size: 2em;
  }
  app-root, app-skills-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  main#content {
    flex: 1;
  }
  main#content p{
    font-family: var(--font-inside);
    font-weight: 500;
    font-size: var(--text-lg);
    line-height: 1.45;
    padding: 0px;
    margin: 0 0 20px;
  }
  main#content ul{
    padding: 0;
    padding-left: 25px;
    margin: 0 0 20px;
    li{
      list-style: url("/images/puce1.png");
      font-family: var(--font-inside);
      font-weight: 500;
      font-size: var(--text-lg);
      line-height: 1.45;
      padding: 0 0 15px 0px;
      margin: 0;
    }
  }
  main#content figcaption{
    font-family: var(--font-inside);
    font-size: var(--text-base);
    line-height: 1.2;
    font-style: italic;
    font-weight: 500;
    padding-top: 5px;
  }
  figure{
    margin: 35px 0 35px;
  }
}

@layer components {
  .btnLink {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    border-radius: 30px;
    border: 1px solid var(--color-btnBorder);
    color: white;
    text-align: center;
    font-family: "CoS", sans-serif;
    font-size: var(--text-base);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: .13rem;
    text-transform: uppercase;
    text-decoration: none;
    &:hover{
        border-color: white;
    }
  }
  a.link, button.link{
   @apply font-heading-home-s leading-normal text-sm tracking-wide text-competence3 border-b border-b-competence4 cursor-pointer hover:text-competence2 hover:border-b-competence2
  }
}
